[Unit]
Description=Minecraft %i server

Wants=network.target
After=network.target

[Service]
Type=forking
User=minecraft
Group=minecraft
Nice=5
TimeoutStopSec=90

WorkingDirectory=/home/minecraft/%i
# PIDFile=/var/minecraft/minecraft-server.pid

# Script infers which version based on cwd?
ExecStart=/usr/bin/minecraft-server start
ExecReload=/usr/bin/minecraft-server reload
ExecStop=/usr/bin/minecraft-server stop

# File privileges (personally I prefer letting the kernel do this)
ProtectHome=read-only
ProtectSystem=full
PrivateDevices=no
NoNewPrivileges=yes
PrivateTmp=no
InaccessiblePaths=/root /sys /srv -/opt /media -/lost+found
ReadWritePaths=/home/minecraft/%i


# 

[Install]
WantedBy=multi-user.target
